.App {
  min-height: 100vh;
  background-repeat: no-repeat,repeat;
  background-size: cover;
  background-image: linear-gradient( rgba(37, 255, 55, 0.453), rgba(0, 0, 0, 0.885)), url('./assets/CannabisGreenhouse.jpg');
}