#nav {
  position: sticky;
  top: 0;
  background-color: rgb(113, 255, 47);
  width: 100vw;
  height: 10vh;
  box-shadow: 1px 1px 20px 0px black;
  z-index: 2;
}

.navBar {
  position: absolute;
  bottom: 5px;
}

.navBar a {
  font-size: 20px;
  margin-left: 12px;
}

#nav h1 {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 88px;
  font-family: 'Courier New', Courier, monospace
}

.pagination {
  display: flex;
  justify-content: center;
}